- page_title "SSH 密钥"
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      SSH 密钥用于在您的电脑和 GitLab 建立安全连接。
  .col-lg-8
    %h5.prepend-top-0
      增加 SSH 密钥
    %p.profile-settings-content
      在增加 SSH 密钥之前需要先
      = link_to "生成密钥", help_page_path("ssh/README", anchor: 'generating-a-new-ssh-key-pair')
      或使用
      = link_to "现有密钥。", help_page_path("ssh/README", anchor: 'locating-an-existing-ssh-key-pair')
    = render 'form'
    %hr
    %h5
      您的 SSH 密钥 (#{@keys.count})
    .append-bottom-default
      = render 'key_table'
