- message = local_assigns.fetch(:message)

- content_for(:title, 'Access Denied')
%img{ :alt => "GitLab Logo", :src => image_path('logo.svg') }
  %h1
    403
.container
  %h3 禁止访问
  %hr
  - if message
    %p
      = message
  - else
    %p 无法访问本页面。
    %p 点击 #{link_to "这里", help_page_path("user/permissions"), class: "vlink"} 了解更多项目权限内容
